/* app/header/header.component.scss */
.custom-navbar {
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
}

.navbar-nav .nav-link {
  text-transform: none;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 0.95rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #ffae00;
}

/* logo sizes per screen */
.logo-large {
  height: 48px;
}

.logo-small {
  height: 32px;
}

/* tweak nav spacing */
@media (min-width: 992px) {
  .navbar-nav .nav-item + .nav-item {
    margin-left: 1.5rem;
  }
}
