<!-- app/home/home.component.html -->
<section id="home" class="hero d-flex align-items-center">
 
  <app-header></app-header>
  <div class="overlay"></div>

  <div class="container hero-content">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="hero-title">
          BUILD YOUR BODY <span>STRONG</span>
        </h1>
        <p class="hero-subtitle">
          Ready to change your physique, but can't work out in the gym?
        </p>
      </div>
    </div>
  </div>
</section>
