name: Notify Discord on Push

on:
  push:
    branches:
      - main

jobs:
  notify-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Send Discord notification
        uses: appleboy/discord-action@v1.2.0
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          message: |
            **A new push was made to the ${{ github.ref_name }} branch of ${{ github.repository }}!**
            **Committer:** ${{ github.actor }}
            **Message:** ${{ github.event.head_commit.message }}
            **View Changes:** ${{ github.event.head_commit.url }}
          username: GitHub Changelog
          avatar_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png